.home-layout {
  //margin-top: 1rem;
  color: #020e0dc2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: 1000rem;

  .time {
    margin-top: 5%;
    //margin-left: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgba(11, 27, 27, 0.48);
    @media screen and (min-width: 1270px) {
      font-size: 50px;
      width: 60rem;
    }
    img {
      width: 15%;
      height: 15%;
      margin-right: 1px;
      @media screen and (min-width: 1270px) {
        width: 15%;
        height: 15%;
      }
    }
  }
  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: rgba(5, 21, 21, 0.62);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;
    margin: 16px 0 24px;
    @media screen and (min-width: 1270px) {
      font-size: 124px;
      margin-bottom: 140px;
    }

    .green {
      margin-left: 10px;
      color: #a9d18e;
      font-weight: 300;
      @media screen and (min-width: 1270px) {
        margin-left: 50px;
      }
    }
  }

  .words {
    border: 1px solid #e4e6e6;
    padding: 8px 30px;

    border-radius: 4px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1270px) {
      padding: 28px 20px;
      width: 40%;
      border-radius: 8px;
    }
    .contents {
      padding: 10px 0px 10px 0px;
      display: flex;
      flex-direction: row;

      align-items: center;
      font-size: 16px;
      font-weight: 100;
      @media screen and (min-width: 1270px) {
        padding: 100px 0px 100px 0px;
        font-size: 60px;
        width: 40%;
      }
      .bolded {
        margin-left: 25px;
        display: block;
        justify-content: flex-end;

        font-weight: 400;
        @media screen and (min-width: 1270px) {
          margin-left: 90px;
          
        }
      }
      img {
        margin-left: 5px;
        width: 17%;
        height: 17%;
       
        @media screen and (min-width: 1270px) {
          margin-right: 5px;
        }
      }
    }
    .line {
      border-bottom: 1px solid #e4e6e6;
      width: 100%;
      @media screen and (min-width: 1270px) {
        width: 80%;
      }
    }
  }
  margin-bottom: 50px;
}
